parameters:
    database_driver:   pdo_mysql
    database_host:     mysql.ulyssis.org
    database_port:     ~
    database_name:     industria_idp
    database_user:     industria
    database_password: ~
    database_path:     ~

    mailer_transport:  mail
    mailer_host:       ~
    mailer_user:       ~
    mailer_password:   ~
    mailer_encryption: ~
    mailer_sender:     noreply@industria.be

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    shibboleth_auto_enable_user: false

    rollbar_access_token: ~
